* {
    background-color: rgb(238, 242, 241);
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

nav a {
    text-decoration: none;
    padding: 30px 20px;
    border-radius: 10px;
}

nav a:hover {
    background-color: lightgray;
}

main {
    position: relative;
    top: 100px;
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 50px 100px;
}

.banner h1 {
    background-color: lightblue;
    margin-right: 100px;
}

.banner img {
    border-radius: 5px;
}

.about {
    margin-top: 50px;
    width: 100%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 50px 100px;
}

.about-content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.about h2 {
    background-color: lightblue;
}

.about p {
    background-color: lightblue;
}



